<div class="post-card">
    <% if user_signed_in? %>
        <p class="name"><%= post.user.name %></p>
        <p class="username">@<%= post.user.username %></p>
    <% end %>
    <p class="content"><%= post.post %></p>
</div>